<html lang="ch" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <style media="screen" type="text/css">
    #Main {
      margin-top: 2%;
      margin-bottom: 2%;
    }

    .hide_area {
      display: none;
      height: 0px;
    }

    #siderbar {
      height: 400px;
      overflow-y: auto;
      min-height: 800px;
      width: 200px;
      font-size: 1.2em;
    }

    #filter {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <div id="Main" class="container">
    <div class="row" style="border-bottom:3px solid rgb(54, 205, 178);margin-bottom:10px;">
      <h1>卡牌修改</h1>
    </div>
    <div class="row" id="filter">
      <button class="btn btn-default" type="button" id="all" onClick="filter('all')">All</button>
      <button class="btn btn-default" id="ssr" onClick="filter('ssr')" type="button">天</button>
      <button class="btn btn-default" id="sr" onClick="filter('sr')" type="button">地</button>
      <button class="btn btn-default" id="r" onClick="filter('r')" type="button">玄</button>
      <button class="btn btn-default" id="n" onClick="filter('n')" type="button">黄</button>
      <button class="btn btn-default" id="close_fight" onClick="filter('close_fight')" type="button">近战</button>
      <button class="btn btn-default" id="range_fight" onClick="filter('range_fight')" type="button">远战</button>
      <button class="btn btn-default" id="armor" onClick="filter('armor')" type="button">防具</button>
      <button class="btn btn-default" id="assist" onClick="filter('assist')" type="button">辅助</button>
    </div>
    <div class="row">
      <div id="siderbar" class="col-md-2">
        <ul class="list-group" id="card_list">
        </ul>
      </div>
      <div class="col-md-8">
        <form>
          <div class="form-group">
            CardId: <input id="card_id" disabled="true"></input>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="使对手增加3点萌化值,...">
          </div>
          <div class="form-group">
            <label for="cardCost">cardCost</label>
            <input type="text" class="form-control" id="cardCost" disabled placeholder="0">
          </div>
          <div class="form-group">
            <label for="img_link">Img Link</label>
            <input type="text" class="form-control" id="img_link" placeholder="https://....">
          </div>

          <div class="form-group">
            <label for="img_bak_link">Img Bak Link</label>
            <input type="text" class="form-control" id="img_bak_link" placeholder="https://....">
          </div>
          <div class="form-group">
            <label for="animation_link">Animation Link</label>
            <input type="text" class="form-control" id="animation_link" placeholder="https://....">
          </div>
          <div class="form-group">
            <label for="sound_link">Sound Link</label>
            <input type="text" class="form-control" id="sound_link" placeholder="https://....">
          </div>

          <div class="form-group">
            <label for="type">Card Type</label>
            <input type="text" class="form-control" id="type" placeholder="魔法" value="魔法">
          </div>
          <div class="form-group">
            <label for="state">Card State</label>
            <input type="text" class="form-control" id="state" placeholder="enable" value="enable">
          </div>
          <div class="form-group">
            <label for="story">Story</label>
            <input type="text" class="form-control" id="story" placeholder="每一张卡牌都有自己的故事.">
          </div>
          <div class="form-group">
            <label for="effect">Card Effect</label>
            <textarea type="text" class="form-control" id="effect" rows=15 value="" style="font-size:1.2em;"></textarea>
          </div>
          <div class="col-md-4 col-md-offset-5">
            <button type="button" id="add_card" class="btn btn-lg btn-success">卡牌修改</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.0.0-rc1/jquery.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://underscorejs.org/underscore-min.js"></script>
<script type="text/javascript">
  var cardList;

  function filter(s) {
    if (s == "all") {
      renderData(cardList);
    }
    if (s == "ssr") {
      let filter_cardList = _.filter(cardList, function(item) {
        let effect = JSON.parse(item["effect"]);
        if (effect["card_rare"] == "SSR") {
          return true;
        } else {
          return false;
        }
      });
      renderData(filter_cardList);
    }
    if (s == "sr") {
      let filter_cardList = _.filter(cardList, function(item) {
        let effect = JSON.parse(item["effect"]);
        if (effect["card_rare"] == "SR") {
          return true;
        } else {
          return false;
        }
      });
      renderData(filter_cardList);
    }
    if (s == "r") {
      let filter_cardList = _.filter(cardList, function(item) {
        let effect = JSON.parse(item["effect"]);
        if (effect["card_rare"] == "R") {
          return true;
        } else {
          return false;
        }
      });
      renderData(filter_cardList);
    }
    if (s == "n") {
      let filter_cardList = _.filter(cardList, function(item) {
        let effect = JSON.parse(item["effect"]);
        if (effect["card_rare"] == "N") {
          return true;
        } else {
          return false;
        }
      });
      renderData(filter_cardList);
    }
    if (s == "close_fight") {
      let filter_cardList = _.filter(cardList, function(item) {
        if (item["type"] == "近战") {
          return true;
        } else {
          return false;
        }
      });
      renderData(filter_cardList);
    }
    if (s == "range_fight") {
      let filter_cardList = _.filter(cardList, function(item) {
        if (item["type"] == "远战") {
          return true;
        } else {
          return false;
        }
      });
      renderData(filter_cardList);
    }
    if (s == "armor") {
      let filter_cardList = _.filter(cardList, function(item) {
        if (item["type"] == "防具") {
          return true;
        } else {
          return false;
        }
      });
      renderData(filter_cardList);
    }
    if (s == "assist") {
      let filter_cardList = _.filter(cardList, function(item) {
        if (item["type"] == "辅助") {
          return true;
        } else {
          return false;
        }
      });
      renderData(filter_cardList);
    }
  }
  let cardRender = function(card) {
    $("#card_id").val(card["id"]);
    $("#name").val(card["name"]);
    $("#description").val(card["description"]);
    $("#img_link").val(card["img"]);
    $("#img_bak_link").val(card["img_bak"]);
    $("#animation_link").val(card["animation"]);
    $("#sound_link").val(card["sound"]);
    $("#type").val(card["type"]);
    $("#state").val(card["state"]);
    $("#story").val(card["story"]);

    let card_effect_string = card["effect"];
    let card_effect_json = JSON.parse(card_effect_string);
    card_effect_string = card_effect_string.replace(/,/g, ",\n");
    card_effect_string = card_effect_string.replace(/{"/g, "{\n\"");
    card_effect_string = card_effect_string.replace(/"}/g, "\"\n}");
    $("#effect").val(card_effect_string);
    $("#cardCost").val(card_effect_json["card_cost"]);
  }
  let renderData = function(cardList) {
    let htmlString = ""
    for (let i in cardList) {
      if (i == 0)
        htmlString += "<li class=\"list-group-item active\" id='card_" + i + "'>" + (parseInt(i) + 1) + ". " + cardList[i]["name"] + "</li>";
      else
        htmlString += "<li class=\"list-group-item\" id='card_" + i + "'>" + (parseInt(i) + 1) + ". " + cardList[i]["name"] + "</li>";
    }
    $("#card_list").empty();
    $("#card_list").append(htmlString);
    cardRender(cardList[0]);
    for (let i in cardList) {
      let cid = "#card_" + String(i);
      (function(cid, i) {
        $(cid).click(function(event) {
          let name = cardList[i]["name"];
          let des = cardList[i]["description"];
          $('li').each(function(i, e) {
            $(e).removeClass('active');
          })
          $(this).addClass("active");
          cardRender(cardList[i]);
        });
      })(cid, i);
    }
  }
  let getCardList = function() {
    $.ajax({
        url: '/card/selectCards',
        type: 'POST',
        dataType: 'json',
        data: {
          username: "admin",
          password: "admin"
        },
        success: function(data) {
          console.log(data);
          if (data["errno"] == 0) {
            cardList = data["data"];
            cardList = cardList.reverse();
            cardList = _.filter(cardList, function(item) {
              if (item['state'] == "enable") {
                return true;
              }
            });
            renderData(cardList);
          } else {
            alert(data["errmsg"]);
          }
        }
      })
      .fail(function() {
        alert("获取卡牌数据失败!");
      });
  }
  let init = function() {
    getCardList();
  }
  $(document).ready(function() {
    //设置初始默认值
    let card_effect_string =
      '{"pointer":2,"damage":2,"cards":0,"star":0,"protect":0,"extra_turn":0,"condition":{"pointer":0,"cute_value":0,"cute_value_operand":"=","cards_value":0,"cards_value_operand":">","star_value":0,"star_value_operand":"<","protect_value":0,"protect_value_operand":"=","damage":0,"damage_operand":">","cards":0,"cards_operand":"<","star":0,"star_operand":"<","protect":0,"protect_operand":"<","condition_time":1,"secret":true},"other_card_effect":{"pointer":2,"damage":2,"cards":0,"star":0,"protect":0,"extra_turn":0},"source":0,"card_cost":1,"card_rare":"N"}';
    card_effect_string = card_effect_string.replace(/,/g, ",\n");
    card_effect_string = card_effect_string.replace(/{"/g, "{\n\"");
    card_effect_string = card_effect_string.replace(/"}/g, "\"\n}");
    $("#effect").val(card_effect_string);
    $("#show").click(function(event) {
      if ($(this).text() == "显示") {

        $("#hide_area").css("display", "block");

        $("#hide_area").animate({
          "height": "280px"
        }, 500);
        $(this).text("隐藏")
      } else {
        $("#hide_area").animate({
          "height": "0px"
        }, 500);
        setTimeout(function() {
          $("#hide_area").css("display", "none");
        }, 500);
        $(this).text("显示");
      }
    });

    $("#add_card").click(function(event) {
      /* Act on the event */
      let card_id = $("#card_id").val();
      let name = $("#name").val();
      let description = $("#description").val();
      let img_link = $("#img_link").val();
      let img_bak_link = $("#img_bak_link").val();
      let animation_link = $("#animation_link").val();
      let sound_link = $("#sound_link").val();
      let type = $("#type").val();
      let state = $("#state").val();
      let effect = $("#effect").val();
      let story = $("#story").val();
      $.ajax({
          url: '/card/editCard',
          type: 'POST',
          dataType: 'json',
          data: {
            id: card_id,
            name: name,
            description: description,
            img: img_link,
            img_bak: img_bak_link,
            animation: animation_link,
            sound: sound_link,
            type: type,
            state: state,
            effect: effect,
            story: story
          },
          success: function(data) {
            alert("修改成功");
            getCardList();
          }
        })
        .fail(function() {
          alert("失败!")
        });

    });

    init();
  });
</script>

</html>